.appContainer {
  padding-top: 200px;
  width: 60%;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: burlywood;
}