.appContainer {
  padding-top: 200px;
  width: 40%;
  margin: auto;
}

.App-link {
  color: #61dafb;
}

.bodyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 304px;
  background-color: burlywood;
}